
{:source-paths ["src" "cli"]
 :dependencies [[mvc-works/hsl          "0.1.2"]
                [mvc-works/shell-page   "0.1.9"]
                [cumulo/recollect       "0.5.0"]
                [cumulo/reel            "0.1.0"]
                [respo                  "0.10.2"]
                [respo/ui               "0.3.10"]
                [respo/alerts           "0.3.10"]
                [respo/message          "0.3.4"]
                [respo/feather          "0.1.1"]
                [cirru/bisection-key    "0.1.5"]
                [org.clojure/core.incubator "0.1.4"]]
 :repositories {"central" {:url "https://maven.aliyun.com/nexus/content/groups/public/"}
                "clojars" {:url "https://mirrors.ustc.edu.cn/clojars/"}}
 :open-file-command ["subl" ["%s:%s:%s" :file :line :column]]
 :builds {:client {:output-dir "target/"
                   :asset-path "./"
                   :target :browser
                   :modules {:client {:init-fn app.client/main!}}
                   :devtools {:after-load app.client/reload!
                              :http-root "target"
                              :http-port 7000}
                   :release {:output-dir "dist/"}
                             :module-hash-names 8
                             :build-options {:manifest-name "assets.edn"}}
          :page {:target :node-script
                 :output-to "target/page.js"
                 :main app.page/main!
                 :devtools {:after-load app.page/main!}}
          :server {:target :node-script
                   :output-to "target/server.js"
                   :main app.server/main!
                   :devtools {:after-load app.server/reload!}
                   :release {:output-to "dist/server.js"}}}}
